<div id="searchBox" class="text-center" style="margin-top:30px;"></div>

<section class="section-sm">
    <div class="container">
        <div class="row no-gutters justify-content-center">
            <div class="col-lg-12">
                <div class="row">
                    <div id="searchResults"></div>
                    <div id="pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- or include the full Satellite theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.1.0/themes/satellite-min.css"
    integrity="sha256-p/rGN4RGy6EDumyxF9t7LKxWGg6/MZfGhJM/asKkqvA=" crossorigin="anonymous">
<style>
    .post-title {
        font-size: 18px;
        color: #357edd;
        text-decoration: none;
    }

    .summary {
        font-size: 14px;
        color: #666
    }

    .ais-SearchBox-form {
        height: 3rem;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js"
    integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js"
    integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>

<script type="text/javascript">
    const searchClient = algoliasearch('CMUVDH220Y', '9aa296e8e10ea311c8f514d5033268c6');

    const search = instantsearch({
        indexName: 'blog',
        searchClient,
    });
    const hitTemplate =
        '<div class="col-lg-12 col-md-12 mb-12"  id="summary-{{ safeHTML "{{{ url }}}" }}">' +
        '<article class="card post-card" id="summary-{{ safeHTML "{{{ url }}}" }}">' +
        '<div class="card-body">' +
        '<div class="mb-12">' +
        '{{ safeHTML "<a class=\"post-title\" href=\"{{{ url }}}\">{{{ title }}}</a>" }}' +
        '</div>' +
        '<p class="summary">{{ safeHTML "{{{ summary }}}" }}</p>' +
        '</div>' +
        '</article>' +
        '</div>';
    const missTemplate =
        '<div class="col-lg-10 col-md-10 mb-4">' +
        '<article class="card post-card">' +
        '<div class="card-body">' +
        '<h3 class="h4 mb-4">No results</h3>' +
        '<p>There were no results matching your search terms {{ safeHTML "<em>{{{ query }}}</em>" }}.</p>' +
        '</div>' +
        '</article>' +
        '</div>';
    search.addWidgets([
        instantsearch.widgets.searchBox({
            container: '#searchBox',
            placeholder: "Search...",
            showReset: false,
            showSubmit: false,
            autofocus: true,
        }),
        instantsearch.widgets.hits({
            container: "#searchResults",
            templates: {
                item: hitTemplate,
                empty: missTemplate,
            }
        }),
        instantsearch.widgets.configure({
            hitsPerPage: 20
        }),
    ]);
    search.start();
</script>